.habLogo {
    position: fixed;
    top: 6px;
    left: 24px;
    height: 100px;
    width: 104.12px;
  }
  
.habText {
    position: fixed;
    top: 27px;
    left: 140px;
    height: 58px;
    width: 186px;
    font-family: 'Raleway';
}

a { 
    text-decoration: none; 
    color: black; 
    font-family: 'Raleway';
}

a:hover {
    text-decoration: none; 
    color: black; 
    font-family: 'Raleway';
}

.groundControl {
    position: fixed;
    top: 40px;
    left: 400px;
    height: 29px;
    width: 178px;
}

.media {
    position: fixed;
    top: 40px;
    left: 700px;
    height: 29px;
    width: 178px;
}

.documentation {
    position: fixed;
    top: 40px;
    left: 1000px;
    height: 29px;
    width: 178px;
}

.about {
    position: fixed;
    top: 40px;
    left: 1300px;
    height: 29px;
    width: 178px;
}
